/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background: var(--ifm-color-primary-darkest);
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 4rem 0;
  text-align: center;
}

[data-theme='dark'] .heroBanner {
  background: transparent;
  color: white;
}

.heroDescription {
  max-width: 600px;
}

.heroImage {
  max-height: 450px;
	max-width: 450px;
	width: 100%;
}

.heroActions .button {
  margin-right: 10px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 2rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  align-items: center;
  display: inline-flex;
}

.goals {
	font-size: 1.2rem;
  line-height: 2rem;
	text-align: center;
  margin: 50px auto;
  max-width: 900px;
}

@media (max-width: 400px) {
  .buttonLower {
    margin-top: 20px;
  }
}

/* Callout for Mantle testkit that appears below the homepage hero */
.testkitCallout {
  background: var(--ifm-color-primary-light);
  border-radius: var(--ifm-button-border-radius);
  color: white;
  margin: 0 0 40px;
  padding: 2rem;
  text-align: center;
}

[data-theme="dark"] .testkitCallout {
  background: var(--ifm-color-primary-darkest);
}

.testkitCallout a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

[data-theme="light"] .testkitCallout a {
  color: white;
}

.testkitCallout h4 {
  font-size: 1.4rem;
  font-weight: normal;
}

.testkitCallout p {
  font-size: 1.2rem;
  margin: 0;
}

.githubIcon {
  height: 20px;
  margin: 0 -10px 0 10px;
  width: 20px;
}